.paginator {
	background-color: #ccc;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: "[";
		margin-bottom: 2px;
	}
	&::after {
		content: "]";
		margin-bottom: 2px;
	}
}

.pag {
	margin: 0 5px;
	padding: 0 5px;
	border: solid 1px #252446;
	border-radius: 5px;
	cursor: pointer;
}

.active {
	background-color: #ff9284;
}